.jumbotron {
    background-color: white;
}

.jumbotron img {
    width: 600px;
    height: 100px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.jumbotron a {
    color: steelblue;
}

#main {
    background-image: url("../images/paymerang-background.png");
    padding: 40px 0px;
    background-size: cover;
}

.card {
    font-family: 'Comfortaa', cursive;
    width: 80%;
    margin: 0 auto;
    border: 1px solid purple;
}

.item{
    background: white;
    padding:5px 10px;
    box-shadow:0px 1px 3px #aaa;
    margin-top:5px;
}

ul {
    list-style: none;
}



.nav-link {
    color: steelblue;
}

.nav-tabs .nav-link.active {
    color: blueviolet;
}

#back {
    background-color: transparent;
    float: right;
    border-radius: .25rem;
    color: blueviolet;
    padding: 10px 25px;
}

#back:hover {
    background-color: blueviolet;
    color: white;
}

.nameAndIcon {
    display: inline-flex;
}

.nameAndIcon img {
    height: 30px;
    width: 30px;
    margin: 0px 10px 25px 0px;
}

.payorName {
    font-weight: bold;
    color: blueviolet;
}
